<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">TexTradez</h1>
    <p class="lead">Buy or sell used textbooks with your peers</p>

    <hr class="my-4">

    <p>Available near you:</p>
    <div class="clearfix row">
      <div class="col-sm-4">
        <img src="/assets/placeholder_images/act.jpg" alt="A Cool Book"
             class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-4">
        <img src="/assets/placeholder_images/bio.jpg" alt="A Cool Book"
             class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-4">
        <img src="/assets/placeholder_images/mao.jpg" alt="A Cool Book"
             class="img-fluid img-thumbnail">
      </div>
    </div>

    <hr class="my-4">

    <a class="btn btn-danger" href = "/login">Log In</a>
  </div>
</div>
