<div class = "container-fluid">

  <h1 class = "text-center">Sell A Textbook</h1>

  <form name = "create-textbook-form" class="container">

      <div class = "form-group row">
        <label class="col-sm-2">Name: </label>
        <input [(ngModel)] = "new_textbook.name" class = "form-control col-sm-10" name = "textbook-name"/>
      </div>

      <div class = "form-group row">
        <label class="col-sm-2">Description:</label>
        <textarea [(ngModel)] = "new_textbook.description" class = "form-control col-sm-10" name = "textbook-description"></textarea>
      </div>

      <div class="text-right">
          <button (click) = "goBack()" class = "btn btn-danger">Back</button>
          <button (click) = "submitTextbook()" class = "btn btn-success">Submit</button>
      </div>
  </form>

</div>
