<div class = "container-fluid">

  <div class = "row">
    <div class = "col-md-12">
      <button (click) = "googleTestLogin()" class = "btn btn-success btn-block">
        W/ Google
      </button>
    </div>
  </div>

  <br>

  <div class = "row">

    <div class = "col-md-6">
      <button (click) = "userLogin(1)" class = "btn btn-primary btn-block">
        Test User 1
      </button>
    </div>

    <div class = "col-md-6">
      <button (click) = "userLogin(2)" class = "btn btn-primary btn-block">
        Test User 2
      </button>
    </div>

  </div>

</div>
