<div class = "container-fluid">

  <div class = "row">
    <!-- TEMP disabled for now
    <div *ngIf = "!logged_in" class = "col-md-12">
      <button (click) = "googleTestLogin()" class = "googlebtn mx-auto d-block">
      </button>
    </div>
  -->

    <div *ngIf = "!logged_in" class = "col-md-12">
      <button (click) = "googleTestLogin()" class = "btn btn-success btn-block">
        Google Login
      </button>
    </div>

    <div *ngIf = "logged_in" class = "col-md-12">
      <button (click) = "userLogout()" class = "btn btn-danger btn-block">
        LOGOUT
      </button>
    </div>

  </div>

  <br>

</div>
