<div class = "container-fluid">

  <div class = "text-center">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
  </div>

  <div class = "text-center">
    <a [routerLink]="['/add-book']" [queryParams]="{user_id: user.id}">Add Book</a>
    <span> | </span>
    <a [routerLink] = "['/create-textbook']" [queryParams] = "{user_id: user.id}">Create Textbook</a>
    <span> | </span>
    <a [routerLink] = "['/create-offer']" [queryParams] = "{user_id: user.id}">Create Offer</a>
  </div>
  <br>

  <div class = "row">

    <!-- View Textbooks -->
    <div class = "col-md-6">
      <h2 class = "text-center">View Textbooks</h2>

      <ul class="list-group">
        <div *ngFor = "let textbook of user_textbooks" class="list-group-item">
          {{textbook.name}}
        </div>
      </ul>

      <br>

      <h2 class = "text-center">View Pending Offers with Seller</h2>

      <ul class = "list-group">
        <div *ngFor = "let seller_pendingoffer of seller_pending_offers" class = "list-group-item">
          <p>Pending offer for <br><em>{{getTextbookByOffer(seller_pendingoffer.offer_id).name}}</em></p>
          <p>Price: ${{getPendingOfferSellerOffer(seller_pendingoffer.offer_id).price}}</p>
        </div>
      </ul>

    </div>

    <!-- View Offers -->
    <div class = "col-md-6">
      <h2 class = "text-center">View Offers</h2>

      <ul class="list-group">
        <div *ngFor = "let offer of user_offers" class="list-group-item">
          <p>Offer for <u>{{getOfferTextbook(offer).name}}</u></p>

        </div>
      </ul>

    </div>

  </div>


</div>
