<div class = "container-fluid">

  <div class = "text-center">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
  </div>

  <div class = "text-center">
    <a [routerLink]="['/add-book']" [queryParams]="{user_id: user.id}">Add Book</a>
    <span> | </span>
    <a [routerLink] = "['/create-textbook']" [queryParams] = "{user_id: user.id}">Create Textbook</a>
    <span> | </span>
    <a [routerLink] = "['/create-offer']" [queryParams] = "{user_id: user.id}">Create Offer</a>
  </div>
  <br>

  <div class = "row">

    <!-- View Textbooks -->
    <div class = "col-md-6">
      <h2 class = "text-center">View Textbooks</h2>

      <ul class="list-group">
        <div *ngFor = "let textbook of user_textbooks" class="list-group-item">
          {{textbook.name}}

          <br><br>

          <button (click) = "deleteUserTextbook(textbook.id)" class = "btn btn-danger">
            Delete
          </button>

        </div>
      </ul>

      <br>

      <h2 class = "text-center">View Pending Offers with Seller</h2>

      <ul class = "list-group">
        <div *ngFor = "let seller_pendingoffer of seller_pending_offers" class = "list-group-item">
          <p>Pending offer for <br><em>{{getTextbookByOffer(seller_pendingoffer.offer_id).name}}</em></p>
          <p>Price: ${{getPendingOfferSellerOffer(seller_pendingoffer.offer_id).price}}</p>
          <p>Sold by: {{getPendingOfferSeller(seller_pendingoffer.offer_id).first_name}} {{getPendingOfferSeller(seller_pendingoffer.offer_id).last_name}}</p>

          <button (click) = "deleteSellerPendingOffer(seller_pendingoffer.id)" class = "btn btn-danger">
            Delete
          </button>

        </div>
      </ul>

    </div>

    <!-- View Offers -->
    <div class = "col-md-6">
      <h2 class = "text-center">View Offers</h2>

      <ul class="list-group">
        <div *ngFor = "let offer of user_offers" class="list-group-item">
          <p>Offer for <u>{{getOfferTextbook(offer).name}}</u></p>

          <button (click) = "deleteUserOffer(offer.id)" class = "btn btn-danger">
            Delete
          </button>

        </div>
      </ul>

      <!-- TODO Implement section for buyer pending offers -->
      <br>

      <h2 class = "text-center">View Pending Offers by Buyers</h2>

      <ul class = "list-group">

        <ul class = "list-group">
          <div *ngFor = "let buyer_pendingoffer of buyer_pending_offers" class = "list-group-item">
            <p>Pending offer for <br><em>{{getTextbookByOffer(buyer_pendingoffer.offer_id).name}}</em></p>
            <p>Price: ${{getPendingOfferSellerOffer(buyer_pendingoffer.offer_id).price}}</p>
            <p>Desired by: {{getPendingOfferBuyer(buyer_pendingoffer.id).first_name}} {{getPendingOfferBuyer(buyer_pendingoffer.id).last_name}}</p>
            <button (click) = "deleteBuyerPendingOffer(buyer_pendingoffer.id)" class = "btn btn-danger">
              Delete
            </button>
          </div>
        </ul>


      </ul>

      <!-- CODE END -->

    </div>

  </div>


</div>
